<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="styles.css">
        <title>Your score</title>
    </head>
    <body>
        <div class='container'>
            <h1>Your word: {{ word }}</h1>
            <h1>Score: {{ score }}</h1>
            <br>
            <div class='centered'>
                <a href='/'><button type='button' class='btn btn-danger' id='return'>Score another word!</button></a>
            </div>
        </div>
    </body>
</html>
