<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="styles.css">
        <title>Scrabble Scores</title>
    </head>
    <body>
        <div class='container'>
            <h1>What's your word worth?</h1>
            <form action='/score'>
                <div class='form-group'>
                    <input id='word' name='word' class='form-control' type='text' placeholder='Write your word here.'>
                </div>
                <div class='centered'>
                    <button type='submit' class='btn btn-success'>Score me!</button>
                </div>
            </form>
        </div>
    </body>
</html>
