body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmvSwDVLfiuycm1ts605PVV3DAZQiAJ3M7VC4Nog5h8qshi_OCjw);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

.container{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

h1{
    text-align: center;
    }

button{
    text-align: center;
    }
